
@import url('style/header.css');
*{ /*seletor universal para resetar as bordas*/
   padding: 0px;
   margin: 0px;
}

body{/*seletor body*/
    background-color: var(--cor-de-fundo);
}

body,html{
    background:linear-gradient(120deg,#0000ff,#00a2ffcd,#aa8dff,#47e7ff,#c814c5) ;
}
